@tmallRed:#ff0036;
@tmallFont:"Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
@tmallWidth:1230px;
@screen-xs:0;
@screen-sm:0;
.container{
	width: 970px !important;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.content-center{
	width: @tmallWidth;
	height: 100%;
	margin: auto;
}
body{
	//background-color: @tamllRed;
	padding: 0;
	margin: 0;
}
nav{
	background-color: #f2f2f2;
	height: 32px;
	color: #999;
	font-size: 10px;
	font-family: @tmallFont;
	line-height: 32px;
	/* text-align: center; */
	div{
		width: @tmallWidth;
		margin: auto;
	}
	span{
		padding-right: 10px;
		padding-left: 10px;
		a{
			color: #999;
			&:hover 
			{ 
				color: #ff0036;
				text-decoration: none;
			}
			/*&:visited
			{
				color: #999;
				text-decoration: none;
			}*/
		}
	}
}

#ui-search{
	/* height: 130px; */
	font-family: arial;
	text-align: center;

	#ui-search-content{
		height: 130px;
		text-align: center;
	}

	img{
		width: 240px;
		height: 130px;
		margin: 1px 25px 1px 25px;
		float: left;
	}
	#ui-search-content-item{
		width: 630px;
		margin: auto;
		height: 130px;
		padding-top: 35px;
	}
	#ui-search-top{
		width: 100%;
		border: 2px solid @tmallRed;
		height: 40px;
		#ui-search-top-button{
			display: inline-block;
			float: right;
			height: 100%;
			width: 20%;
			background-color: @tmallRed;
			color: white;
			font-size: 18px;
			font-weight: 700;
			text-align: center;
			line-height: 40px;
		}
	}
	#ui-search-buttom{
			display: inline-block;
			float: left;
			padding: 0 12px;
			margin-top: 5px;
			height: 18px;
			font-size: 14px;
		}
	input{
		width: 75%;
		margin-left: 15px;
		margin-top: 5px;
		border: none;
		outline: none;
	}
}

#ui-footer1{
	/* flex布局 */
	width: 100%;
	margin-top: 20px;
	border-top: 1px solid #d1d7dc;
	text-align: center;
	font-family: @tmallFont;
	#ui-footer1-top{
		img{
			display: inline-block;
			width: 297px;
			height: 100px;
		}
	}
	
	#ui-footer1-buttom{
		display: inline-flex;
		align-items: flex-start;
	 	box-sizing: content-box;
		width: 1190px;
		height: 190px;
		padding-top: 22px;
		border-top: 1px solid #ededed;
	}
}
.ui-footer1-buttom-item{
	display: inline-block;
	flex-direction: column;
	box-sizing: content-box;
	width: 186px;
	height: 190px;
	padding-left: 52px;
	text-align: left;
	span{
		color: #646464;
		font-size: 16px;
		font-weight: 700;
		line-height: 30px;
		text-align: left;
	}
	a{
		width: 100px;
		overflow: hidden;
		text-align: left;
		font-size: 12px;
		height: 20px;
		line-height: 20px;
		color: #8b8b8b;
	}

}
#footer1-img{
		margin-top: 75px;
	}
.ui-footer2{
	border-top: 2px solid #ff0036;
	background-color: #000;
	text-align: left;
	min-height: 177px;
	text-align: center;
	font-family: @tmallFont;
	font-size: 12px;

}
.ui-footer2-tmallinfo{
	width: 1190px;
	margin: auto;
	color: #fff;
	line-height: 25px;
	text-align: left;
	padding: 5px 0;
	a{
		margin-right: 3px;
		color: #fff;
		cursor: auto;
	}

}
.ui-footer2-otherlink{
	.ui-footer2-tmallinfo;
}
.ui-footer2-copyright{
	.ui-footer2-tmallinfo;
	padding: 0;
	height: 110px;
	a{
		color: #a4a4a4;
		margin-right: 65px;
	}
	span{color: #686868;font-weight: 400}

}
.ui-footer2-buttom{
	height: 18px;
	width: 100%;
}

.ui-mainnav{
	width: 100%;
}
.ui-mainnav-bar{
	background-color: #ff0036;
	height:36px;
	text-align: center;
	color: #fff;
	font-family: @tmallFont;
}
.ui-mainnav-bar-item1{
	float: left;
	display: inline-block;
	width: 200px;
	height: 36px;
	background-color: #e22127;
	/* margin-left:40px; */
	margin-left: -250px;
	color: #fff;
	font-family: @tmallFont;
	font-size: 16px;
	font-weight: bold;
	padding-left: 15px;
	span{
		float: left;
		line-height: 36px;
		margin-left: 5px;
	} 
}
.ui-mainnav-bar-item2{
	display: inline-block;
	box-sizing: content-box;
	float: left;
	line-height: 36px;
	width: 90px;
	height: 36px;
	padding: 0 15px;
	font-size: 16px;
	font-weight: 500;

}